# Pandas

In [1]:
import pandas as pd

mirai = pd.read_csv("../data/blog_show_data/mirai.csv")
mirai

,No.,Time,Source,Destination,Protocol,Length,Info,Source Port,Dest Port
0,1,2018-10-25 01:46:22.933899,192.168.2.108,52.24.43.67,TCP,60,21074 > 80 [SYN] Seq=0 Win=5840 Len=0 MSS=1460,21074.0,80.0
1,2,2018-10-25 01:46:22.933904,192.168.2.108,52.25.66.250,TCP,60,20532 > 8280 [SYN] Seq=0 Win=5840 Len=0 MSS=...,20532.0,8280.0
2,3,2018-10-25 01:46:22.934426,192.168.2.1,192.168.2.108,ICMP,86,Destination unreachable (Network unreachable),21074.0,80.0
3,4,2018-10-25 01:46:22.934636,192.168.2.1,192.168.2.108,ICMP,86,Destination unreachable (Network unreachable),20532.0,8280.0
4,5,2018-10-25 01:46:23.291054,48:02:2e:01:83:15,Broadcast,ARP,60,Who has 192.168.2.106? Tell 192.168.2.109,NaN,NaN
...,...,...,...,...,...,...,...,...,...
764132,764133,2018-10-25 03:45:19.837515,Shenzhen_98:ee:fd,Broadcast,ARP,60,Who has 192.168.2.165? Tell 192.168.2.110,NaN,NaN
764133,764134,2018-10-25 03:45:19.839396,Shenzhen_98:ee:fd,Broadcast,ARP,60,Who has 192.168.2.166? Tell 192.168.2.110,NaN,NaN
764134,764135,2018-10-25 03:45:19.840611,Shenzhen_98:ee:fd,Broadcast,ARP,60,Who has 192.168.2.167? Tell 192.168.2.110,NaN,NaN
764135,764136,2018-10-25 03:45:19.842369,Shenzhen_98:ee:fd,Broadcast,ARP,60,Who has 192.168.2.168? Tell 192.168.2.110,NaN,NaN
764136,764137,2018-10-25 03:45:19.842464,192.168.2.115,192.168.2.1,DNS,119,Standard query 0x1e08 AAAA north-america.pool....,3570.0,53.0

In [5]:
mirai_series = mirai["Source"]
type(mirai_series)

pandas.core.series.Series

In [7]:
mirai[0:3]

,No.,Time,Source,Destination,Protocol,Length,Info,Source Port,Dest Port
0,1,2018-10-25 01:46:22.933899,192.168.2.108,52.24.43.67,TCP,60,21074 > 80 [SYN] Seq=0 Win=5840 Len=0 MSS=1460,21074.0,80.0
1,2,2018-10-25 01:46:22.933904,192.168.2.108,52.25.66.250,TCP,60,20532 > 8280 [SYN] Seq=0 Win=5840 Len=0 MSS=...,20532.0,8280.0
2,3,2018-10-25 01:46:22.934426,192.168.2.1,192.168.2.108,ICMP,86,Destination unreachable (Network unreachable),21074.0,80.0

In [9]:
mirai.loc[:, ["Time", "Source Port"]]

                              Time  Source Port
0       2018-10-25 01:46:22.933899      21074.0
1       2018-10-25 01:46:22.933904      20532.0
2       2018-10-25 01:46:22.934426      21074.0
3       2018-10-25 01:46:22.934636      20532.0
4       2018-10-25 01:46:23.291054          NaN
...                            ...          ...
764132  2018-10-25 03:45:19.837515          NaN
764133  2018-10-25 03:45:19.839396          NaN
764134  2018-10-25 03:45:19.840611          NaN
764135  2018-10-25 03:45:19.842369          NaN
764136  2018-10-25 03:45:19.842464       3570.0

[764137 rows x 2 columns]

In [11]:
mirai.iloc[3]

No.                                                        4
Time                              2018-10-25 01:46:22.934636
Source                                           192.168.2.1
Destination                                    192.168.2.108
Protocol                                                ICMP
Length                                                    86
Info           Destination unreachable (Network unreachable)
Source Port                                          20532.0
Dest Port                                             8280.0
Name: 3, dtype: object

In [12]:
mirai.iloc[10:20, [2, 7, 3, 8]]

           Source  Source Port      Destination  Dest Port
10  192.168.2.108      20532.0     52.25.66.250     8280.0
11    192.168.2.1      21074.0    192.168.2.108       80.0
12  192.168.2.115       2440.0      192.168.2.1       53.0
13  192.168.2.112      52514.0      192.168.2.1       53.0
14  192.168.2.110      34034.0  114.114.114.114       53.0
15    192.168.2.1      34034.0    192.168.2.110       53.0
16  192.168.2.113      50861.0    50.19.254.134    10240.0
17  192.168.2.113      50861.0  122.248.234.207    10240.0
18  192.168.2.113      50861.0    46.137.188.54    10240.0
19  192.168.2.113      50861.0   122.226.84.253    10240.0

In [13]:
mirai[mirai["Length"] > 512]

,No.,Time,Source,Destination,Protocol,Length,Info,Source Port,Dest Port
2280,2281,2018-10-25 01:47:41.730837,192.168.2.109,239.255.255.250,UDP,1468,3702 > 3702 Len=1426,3702.0,3702.0
6681,6682,2018-10-25 01:50:16.689616,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:c6 (Tp-LinkT_...,68.0,67.0
6740,6741,2018-10-25 01:50:18.691866,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:c6 (Tp-LinkT_...,68.0,67.0
6758,6759,2018-10-25 01:50:18.901475,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:c6 (Tp-LinkT_...,68.0,67.0
6847,6848,2018-10-25 01:50:20.907206,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:c6 (Tp-LinkT_...,68.0,67.0
7167,7168,2018-10-25 01:50:31.470462,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:a6 (Tp-LinkT_...,68.0,67.0
7194,7195,2018-10-25 01:50:33.483067,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:a6 (Tp-LinkT_...,68.0,67.0
7275,7276,2018-10-25 01:50:35.485656,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:a6 (Tp-LinkT_...,68.0,67.0
7308,7309,2018-10-25 01:50:36.406909,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:a6 (Tp-LinkT_...,68.0,67.0
73266,73267,2018-10-25 02:30:56.832834,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:a6 (Tp-LinkT_...,68.0,67.0
73322,73323,2018-10-25 02:30:59.098348,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:a6 (Tp-LinkT_...,68.0,67.0
73390,73391,2018-10-25 02:31:01.100790,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:a6 (Tp-LinkT_...,68.0,67.0
73427,73428,2018-10-25 02:31:02.321307,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:a6 (Tp-LinkT_...,68.0,67.0
74574,74575,2018-10-25 02:31:43.696110,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:c6 (Tp-LinkT_...,68.0,67.0
74628,74629,2018-10-25 02:31:45.705179,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:c6 (Tp-LinkT_...,68.0,67.0
74676,74677,2018-10-25 02:31:47.710308,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:c6 (Tp-LinkT_...,68.0,67.0
74719,74720,2018-10-25 02:31:48.981025,0.0.0.0,255.255.255.255,BOOTP,590,Boot Request from 50:c7:bf:1c:9c:c6 (Tp-LinkT_...,68.0,67.0
193555,193556,2018-10-25 03:06:51.506251,192.168.2.110,192.168.4.1,TCP,566,14310 > 48949 [ACK] Seq=1 Ack=1 Win=17150 Le...,14310.0,48949.0
193556,193557,2018-10-25 03:06:51.507053,192.168.2.1,192.168.2.110,ICMP,590,Destination unreachable (Network unreachable),14310.0,48949.0

In [14]:
mirai.groupby(["Source", "Dest Port"]).sum()["Length"][0:990]

/tmp/ipykernel_1509056/1662176098.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mirai.groupby(["Source", "Dest Port"]).sum()["Length"][0:990]

Source       Dest Port
0.0.0.0      67.0          13108
192.168.2.1  53.0         736284
             68.0          48944
             80.0         711354
             123.0         14396
                           ...
             2318.0          117
             2319.0          110
             2320.0          117
             2322.0          117
             2324.0          117
Name: Length, Length: 990, dtype: int64

# Domains

In [2]:
legit_domains = pd.read_csv("../data/blog_show_data/top-1m.csv", names=["domain"])
legit_domains

                      domain
1                 google.com
2                youtube.com
3                  baidu.com
4               bilibili.com
5               facebook.com
...                      ...
864548  zoofilia-achtung.top
864549        zoolzool.co.nz
864550           zoomy.co.nz
864551            zooporn.ws
864552            zunaso.com

[864552 rows x 1 columns]

In [3]:
import tldextract

legit_domains["tld"] = [tldextract.extract(d).domain for d in legit_domains["domain"]]
legit_domains

                      domain               tld
1                 google.com            google
2                youtube.com           youtube
3                  baidu.com             baidu
4               bilibili.com          bilibili
5               facebook.com          facebook
...                      ...               ...
864548  zoofilia-achtung.top  zoofilia-achtung
864549        zoolzool.co.nz          zoolzool
864550           zoomy.co.nz             zoomy
864551            zooporn.ws           zooporn
864552            zunaso.com            zunaso

[864552 rows x 2 columns]

# URLs

In [4]:
import urlextract

# Create an instance of URLExtract class
url_extractor = urlextract.URLExtract()

# Sample text containing URLs to be extracted
dns_payload = "www.googleadservices.com: type A, class IN, addr 142.251.32.194"

# Extract URLs from the given text
extracted_urls = url_extractor.find_urls(dns_payload)

print("Extracted URLs: ", extracted_urls)

Extracted URLs:  ['www.googleadservices.com', '142.251.32.194']

# Syslog

Not analyzed in blog, but I added a couple of examples if you are curious. 

## Example 1
Uses `syslogmp` Python library to parse unstructured syslog data.

## Example 2
Uses a regex.

In [ ]:
from syslogmp import parse


def load_syslog(log_message: str) -> dict:
    message = parse(log_message)

    return {
        "timestamp": message.timestamp,
        "hostname": message.hostname,
        "message": message.message,
    }


# Example usage:
log_message = bytes("<133>Feb 25 14:09:07 webserver syslogd: restart", "utf-8")
log_data = load_syslog(log_message)
print(log_data)

In [ ]:
import re


def process_syslog(log_message):
    log_regex = r"^(\w{3}\s\d{1,2}\s\d{2}:\d{2}:\d{2})\s(\S+)\s(\S+):\s\[(\d+)\]\s(.*)$"
    # The above regex pattern captures the following groups:
    # 1. Timestamp
    # 2. Hostname
    # 3. Application
    # 4. PID
    # 5. Message

    match = re.match(log_regex, log_message)
    if not match:
        return None

    timestamp = match.group(1)
    hostname = match.group(2)
    application = match.group(3)
    pid = int(match.group(4))
    message = match.group(5)

    return {
        "timestamp": timestamp,
        "hostname": hostname,
        "application": application,
        "pid": pid,
        "message": message,
    }


# Example usage:
log_message = "Feb 28 14:21:30 example-hostname kernel: [12345] This is a log message"
log_data = process_syslog(log_message)
print(log_data)